@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @font-face {
        font-family: CenturyGothic;
        font-weight: 400;
        src: url(../public/fonts/CenturyGothic.ttf);
        font-display: swap;
        font-style: normal;
    }
}